.venv
**/__pycache__/
.DS_Store

.env
.next/
temp-data/

swarm.pem
runs/
model_output_samples/
grpo_trainer_lora_model/
unsloth_compiled_cache/

node_modules/
web/ui/dist/

/bazel-*
/external
/tmp

dist/
MODULE.bazel.lock
**/.direnv
.tmux.conf
