bitsandbytes
colorlog
datasets
hivemind @ git+https://github.com/learning-at-home/hivemind@1.11.11
hf-transfer
peft
tensorboard
torch
transformers>=4.46.0
trl
unsloth @ git+https://github.com/gensyn-ai/unsloth@unpin_proto
unsloth_zoo @ git+https://github.com/gensyn-ai/unsloth-zoo@unpin_proto
vllm==0.7.3
web3
xformers